@model BurgerListViewModel

<div class="card flex-fill ml text-center">
    <img class="card-img-top" src="@Model.ImgUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h4 class="card-text">Price: @Model.Price</h4>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div class="btn-group flex-fill">
            <a type="button" class="btn btn-primary flex-fill" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <a class="btn btn-danger flex-fill" asp-area="" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a class="btn btn-warning flex-fill" asp-area="" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</div>

